<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <link rel="stylesheet" href="{% static "myapi/response.css" %}">
    <meta charset="UTF-8">
    <title>Zmanim</title>
</head>
<main>
    <h3>General Times:</h3>
    <ol class="gradient-list" id="top">
        <li id="top-item">Daybreak: {{ daybreak }}</li>
        <li id="top-item">Sunrise: {{ sunrise }}</li>
        <li id="top-item">Sunset: {{ sunset }}</li>
        <li id="top-item">Nightfall: {{ nightfall }}</li>
    </ol>
    <h3 id="left-title">Magen Avraham:</h3>
    <ol class="gradient-list" id="left">
        <li>
                Sof Zman Kriyat Shema: {{ magen_sof_zman_kriyat_shema }}
            </li>
            <li>
                Sof Zman Tefillah: {{ magen_sof_zman_tefillah }}
            </li>
            <li>
                Hazot: {{ hazot }}
            </li>
            <li>
                Minha Gedola: {{ magen_minha_gedola }}
            </li>
            <li>
                Minha Ketana: {{ magen_minha_ketana }}
            </li>
            <li>
                Plag Minha: {{ magen_plag_minha }}
            </li>
    </ol>
    <h3 id="right-title">Vilna Times:</h3>
    <ol class="gradient-list" id="right">
        <li>
                Sof Zman Kriyat Shema: {{ vilna_sof_zman_kriyat_shema }}
            </li>
            <li>
                Sof Zman Tefillah: {{ vilna_sof_zman_tefillah }}
            </li>
            <li>
                Hazot: {{ hazot }}
            </li>
            <li>
                Minha Gedola: {{ vilna_minha_gedola }}
            </li>
            <li>
                Minha Ketana: {{ vilna_minha_ketana }}
            </li>
            <li>
                Plag Minha: {{ vilna_plag_minha }}
            </li>
    </ol>
</main>
</html>